
<htm><head>
<style>
body{ margin:0 auto; }
 table { width: 50%; margin-left: auto; margin-right: auto;   align:center; }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

   text-align:center;
}
</style>
<title>Multi-Perspective, Simultaneous Embedding </title></head><body align=center>

<p>&nbsp;</p>
<h1>Multi-Perspective, Simultaneous Embedding</h1>
<h2>Iqbal Hossain, Vahan Huroyan, Stephen Kobourov, Raymundo Navarrete</h2>

<iframe width="840" height="472" src="https://www.youtube.com/embed/LvWvrBfA9nA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
<div  style="margin: auto;  width: 60%; text-align: justify;">
This video briefly illustrates the 3DMGV algorithm and shows the
output on a couple of examples.
<br><br>
Link of the paper: <a href https://arxiv.org/pdf/1909.06485.pdf>https://arxiv.org/pdf/1909.06485.pdf</a>
<br><br>
The columns of the following table represent (1) the input dataset
consists of two or three sets of points in 2D. (2) the output of the
algorithm is a 3D dataset and this column shows the 2D projections on
the corresponding subspaces. (3) the last column contains a link to
the interactive tool, where one can interact with the 3D output of the
algorithm; clicking on the eye icons rotates the data to the
corresponding two or three view points.




<br>
<br><br>
The one-two-three dataset consists of 3 images of <b>digits 1, 2 and 3</b>.
For each image, we sample a fixed number of points from each digit.
Note that the same set of points appears in all images but the
pairwise distances between them is different.
<br><br>
The  <b>circle-square-triangle dataset</b> consists of the geometric shapes
of a circle, square and a triangle. For each image, we sample a fixed
number of points from each shape. Note that the same set of points
appears in all images but the pairwise distances between them is
different.
<br><br>
The <b>clusters dataset</b> consists of 3 images each containing 2 clusters
with the same number of data points in each image. Note that the same
set of points appears in all images but the pairwise distances between
them is different. The first cluster is indicated by (blue, red)
points, the second cluster is indicated by (squares, circles), the
third cluster is indicated by (filled, empty) points.
<br><br>
The <b>grid-path dataset</b> is used to demonstrate that our proposed
algorithm can also be applied for graph visualizations. To demonstrate
such an example we create two graphs with 100 vertices: one square
grid and one path. Note that the same set of vertices appears in both
graphs but the underlying structure is different.



</div>

<h1>Experiment Results</h1>
<h2>123 dataset with fixed projection in xy, yz, and zx plane</h2>




<table width="70%">
<tbody>
  <tr>
   <td align=center colspan="1">Input Dataset
     </td>
     <td align=center colspan="3">Output projections
       </td>
         </tr>
<tr>
 <td width=25% align=center><img width="20%" src="pic1.png" alt=""> <img width="20%" src="pic2.png" alt=""></td>
<td width=25% align=center><img src="drawing/pngs/123_12p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td width=25% align=center><img src="drawing/pngs/123_12p1_coordinates_tmpprojection2.png" width="50%" /></td>

<td><a target="_blank" href="html3Dviz/123_12p1_viz.html">interaction</a></td>
</tr>
<tr>
<!--<td>123 PSet:1</td>-->
 <td  align=center><img width="20%"src="pic2.png" alt=""> <img width="20%" src="pic3.png" alt=""></td>
<td align=center><img src="drawing/pngs/123_23p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td align=center><img src="drawing/pngs/123_23p1_coordinates_tmpprojection2.png" width="50%" /></td>

<td><a target="_blank" href="html3Dviz/123_23p1_viz.html">interaction</a></td>
</tr>
<tr>
<!--<td>123 PSet:1</td>-->
<td  align=center><img width="20%" src="pic1.png" alt=""> <img width="20%" src="pic3.png" alt=""></td>
<td  align=center><img src="drawing/pngs/123_13p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td  align=center><img src="drawing/pngs/123_13p1_coordinates_tmpprojection2.png" width="50%" /></td>

<td><a target="_blank" href="html3Dviz/123_13p1_viz.html">interaction</a></td>
</tr>
</tbody>
</table>
<h2>

 123 dataset with fixed projection around z-axis  rotation</h2>
<table width="70%">
<tbody><tr>
  <td align=center colspan="1">Input Dataset
    </td>
    <td align=center colspan="4">Output projections
      </td>
        </tr>



<tr>
  <td width=25% align=center><img width="20%" src="pic1.png" alt=""> <img width="20%" src="pic2.png" alt=""></td>

<!--<td>123 PSet:2</td>-->
<td  align=center><img src="drawing/pngs/123_12p2_coordinates_tmpprojection1.png" width="50%" /></td>
<td  align=center><img src="drawing/pngs/123_12p2_coordinates_tmpprojection2.png" width="50%" /></td>
<td>&nbsp;</td>
<td><a target="_blank" href="html3Dviz/123_12p2_viz.html">interaction</a></td>
</tr>
<tr>
<!--<td>123 PSet:2</td>-->
<td width=25% align=center><img width="20%" src="pic2.png" alt=""> <img width="20%" src="pic3.png" alt=""></td>

<td  align=center><img src="drawing/pngs/123_23p2_coordinates_tmpprojection1.png" width="50%" /></td>
<td  align=center><img src="drawing/pngs/123_23p2_coordinates_tmpprojection2.png" width="50%" /></td>
<td>&nbsp;</td>
<td><a target="_blank" href="html3Dviz/123_23p2_viz.html">interaction</a></td>
</tr>
<tr>
<!--<td>123 PSet:2</td>-->
<td width=25% align=center><img width="20%" src="pic1.png" alt=""> <img width="20%" src="pic3.png" alt=""></td>

<td  align=center><img src="drawing/pngs/123_13p2_coordinates_tmpprojection1.png" width="50%" /></td>
<td  align=center><img src="drawing/pngs/123_13p2_coordinates_tmpprojection2.png" width="50%" /></td>
<td>&nbsp;</td>
<td><a target="_blank" href="html3Dviz/123_13p2_viz.html">interaction</a></td>
</tr>
<tr>
  <td width=25% align=center><img width="20%" src="pic1.png" alt=""> <img width="20%" src="pic2.png" alt=""><img width="20%" src="pic3.png" alt=""></td>

<!--<td>123 PSet:2</td>-->
<td align=center><img src="drawing/pngs/123_123p2_coordinates_tmpprojection1.png" width="50%" /></td>
<td align=center><img src="drawing/pngs/123_123p2_coordinates_tmpprojection2.png" width="50%" /></td>
<td align=center><img src="drawing/pngs/123_123p2_coordinates_tmpprojection3.png" width="50%" /></td>
<td><a target="_blank" href="html3Dviz/123_123p2_viz.html">interaction</a></td>
</tr>
</tbody>
</table>

<!---

<h2>Cluster dataset with fixed projection in xy, yz, and zx plane</h2>
<table width="70%">
<tbody>
<tr>

<td><img src="drawing/pngs_cluster/cluster_cluster_12p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td><img src="drawing/pngs_cluster/cluster_cluster_12p1_coordinates_tmpprojection2.png" width="50%" /></td>
<td>&nbsp;</td>
<td><a target="_blank" href="html3Dviz/cluster_12p1_viz.html">interaction</a></td>
</tr>
<tr>

<td><img src="drawing/pngs_cluster/cluster_cluster_123p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td><img src="drawing/pngs_cluster/cluster_cluster_123p1_coordinates_tmpprojection2.png" width="50%" /></td>
<td><img src="drawing/pngs_cluster/cluster_cluster_123p1_coordinates_tmpprojection3.png" width="50%" /></td>
<td><a target="_blank" href="html3Dviz/cluster_123p1_viz.html">interaction</a></td>
</tr>
</tbody>
</table>



<h2>Cluster dataset with fixed projection around z-axis  rotation</h2>
<table width="70%">
<tbody>
<tr>

<td><img src="drawing/pngs_cluster/cluster_cluster_123p2_coordinates_tmpprojection1.png" width="50%" /></td>
<td><img src="drawing/pngs_cluster/cluster_cluster_123p2_coordinates_tmpprojection2.png" width="50%" /></td>
<td><img src="drawing/pngs_cluster/cluster_cluster_123p2_coordinates_tmpprojection3.png" width="50%" /></td>
<td><a target="_blank" href="html3Dviz/cluster_123p2_viz.html">interaction</a></td>
</tr>
</tbody>
</table>



-->


<h2>Squire-circle-triangle dataset with fixed projection in xy, yz, and zx plane</h2>
<table width="70%">
<tbody>
  <tr>
   <td align=center colspan="1">Input Dataset
     </td>
     <td align=center colspan="4">Output projections
       </td>
         </tr>
  <tr>
    <td width=25% align=center> <img width="30%" src="piccir.png" alt=""><img width="30%" src="picsq.png" alt=""> </td>

<td><img src="drawing/pngs_k_path/edges_sqcirtr_12p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td><img src="drawing/pngs_k_path/edges_sqcirtr_12p1_coordinates_tmpprojection2.png" width="50%" /></td>
<td>&nbsp;</td>
<td><a target="_blank" href="html3Dviz/sqcirtr_12p1_viz.html">interaction</a></td>
</tr>

  <tr>
    <td width=25% align=center>  <img width="30%" src="piccir.png" alt=""><img width="30%" src="picsq.png" alt=""> <img width="30%" src="pictr.png" alt=""></td>

<td><img src="drawing/pngs_k_path/edges_sqcirtr_123p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td><img src="drawing/pngs_k_path/edges_sqcirtr_123p1_coordinates_tmpprojection2.png" width="50%" /></td>
<td><img src="drawing/pngs_k_path/edges_sqcirtr_123p1_coordinates_tmpprojection3.png" width="50%" /></td>
<td><a target="_blank" href="html3Dviz/sqcirtr_123p1_viz.html">interaction</a></td>
</tr>

</tbody>
</table>




<h2>Grid-path dataset with fixed projection in xy, yz, and zx plane</h2>
<table width="70%">
<tbody>
  <tr>
   <td align=center colspan="1">Input Dataset
     </td>
     <td align=center colspan="3">Output projections
       </td>
         </tr>
<tr>
  <td width=25% align=center>  <img width="50%" src="picgrid.png" alt=""><img width="50%" src="picpath.png" alt=""> </td>

<td><img src="drawing/pngs_grid_path/edges_grid_12p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td><img src="drawing/pngs_grid_path/edges_grid_12p1_coordinates_tmpprojection2.png" width="50%" /></td>

<td><a target="_blank" href="html3Dviz/grid_12p1_viz.html">interaction</a></td>
</tr>
</tbody>
</table>





<h2>123 dataset with  variable projection</h2>
<table width="70%">
<tbody>
  <tr>
   <td align=center colspan="1">Input Dataset
     </td>
     <td align=center colspan="4">Output projections
       </td>
         </tr>
         <!--
<tr>
  <td width=25% align=center>  <img width="90%" src="cluster.png" alt="">  </td>

<td><img src="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td><img src="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection2.png" width="50%" /></td>
<td><img src="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection3.png" width="50%" /></td>
<td><a target="_blank" href="html3DvizProj/projcluster_123p1_viz.html">interaction</a></td>
</tr>
-->
<tr>
  <td width=25% align=center>  <img width="50%" src="picgrid.png" alt=""><img width="50%" src="picpath.png" alt=""> </td>

<td><img src="drawing/pngs_grid_path/edges_projgrid_12p1_coordinates_tmpprojection1.png" width="50%" /></td>
<td><img src="drawing/pngs_grid_path/edges_projgrid_12p1_coordinates_tmpprojection2.png" width="50%" /></td>

<td><a target="_blank" href="html3DvizProj/projgrid_12p1_viz.html">interaction</a></td>
</tr>
</tbody>
</table>






<h2>Cluster Dataset with variable projection</h2>
<table width="70%">
<tbody>
  <tr>
   <td align=center  >Input Dataset
     </td>
     <td align=center > <img width="90%" src="cluster.png" alt="">
       </td>
       <td rowspan="4"><a target="_blank" href="html3Dviz/cluster_123p1_viz.html">interaction</a></td>
         </tr>


         <tr>
          <td align=center  >Projection 1
            </td>
            <td align=center ><a href="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection1.png"> <img src="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection1.png" width="50%" /></a>
              </td>
                </tr>



         <tr>
          <td align=center  >Projection 2
            </td>
            <td align=center > <a href="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection2.png"><img src="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection2.png" width="50%" /></a>
              </td>
                </tr>



           <tr>
            <td align=center  >Projection 3
              </td>
              <td align=center > <a href="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection3.png"><img src="drawing/pngs_cluster/cluster_projcluster_123p1_coordinates_tmpprojection3.png" width="50%" /> </a>
                </td>
                  </tr>



</tbody>
</table>









<h2>Real world examples with fixed projection (credit dataset)</h2>
<table width="70%">
<tbody>
  <tr>
   <td align=center colspan="1">Input Dataset
     </td>
     <td align=center colspan="4">Output projections
       </td>
         </tr> 
<tr>
  <td width=25% align=center><a  target="_blank" href="https://www.kaggle.com/c/home-credit-default-risk/data"> Home Credit Default Risk  </a> <br>(1000 samples) </td>

<td> </td>
<td> </td>
<td> </td>

<td>
  <a target="_blank" href="html3Dviz/small1000simple_123p1_viz_1.html">snapshot 1 (7 iterations) </a> <br>
  <a target="_blank" href="html3Dviz/small1000simple_123p1_viz_2.html">snapshot 2 (20 iterations)</a><br>
  <a target="_blank" href="html3Dviz/small1000simple_123p1_viz_3.html">snapshot 3 (28 iterations)</a><br>
  <a target="_blank" href="html3Dviz/small1000simple_123p1_viz_4.html">snapshot 4 (59 iterations)</a><br>

  <a target="_blank" href="realworld/simple1000_123p1_viz.html">income, gender,education (8 iterations)</a>

  <br>
  <a target="_blank" href="realworld2/credit2ndrun.html">income, gender,education (128 iterations)</a>

  <br>
  <a target="_blank" href="realworld3/credit3ndrun.html">income, gender  (189 iterations)</a>

  <br>
  <a target="_blank" href="credit/credit4fix500_2_viz.html">income, gender  (adaptive, fixed projection GD)</a>
  <br>
  <a target="_blank" href="credit/credit4fix500_3_viz.html">income, gender, education  (fixed projection, adaptive  GD)</a>

  <br>
  <a target="_blank" href="credit/credit4var500_3_viz.html">income, gender, education  (variable projection, adaptive  GD)</a>



</td>
</tr>
</tbody>
</table>










<h2>Real world examples with fixed projection (Face reconstruction)</h2>
<table width="70%">
<tbody>
  <tr>
   <td align=center colspan="1">Input Dataset
     </td>
     <td align=center colspan="4">Output projections
       </td>
         </tr> 
<tr>
  <td width=25% align=center> Face </td>

<td> </td>
<td> </td>
<td> </td>

<td>
  <a target="_blank" href="html3Dviz/face_123p1_viz.html">Face 3D </a> <br>
 



</td>
</tr>
</tbody>
</table>






<body></html>
